*.class
*.swp

# Package Files #
build
*.war
*.ear
*.amp

datalist-download/.settings/

datalist-download/alf_data_dev/

datalist-download/datalist-download-repo/.settings/

datalist-download/datalist-download-repo/.classpath

datalist-download/datalist-download-repo/.project

datalist-download/datalist-download-share/.settings/

datalist-download/datalist-download-share/.classpath

datalist-download/datalist-download-share/.project

datalist-download/target/

datalist-download/.project

*.log
